<!-- TABS HTML -->

<div id="tabs_container">
    <ul id="tabs">
        <li class="active"><a href="#tab1">Tab 1</a></li>
        <li><a class="icon_accept" href="#tab2">Tab with icon</a></li>
        <li><a href="#tab3">Long name for the last tab</a></li>
    </ul>
</div>

<div id="tabs_content_container">
    <div id="tab1" class="tab_content" style="display: block;">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna, euismod ut ornare non, volutpat vel tortor. Integer laoreet placerat suscipit. Sed sodales scelerisque commodo. Nam porta cursus lectus. Proin nunc erat, gravida a facilisis quis, ornare id lectus. Proin consectetur nibh quis urna gravida mollis.</p>
    </div>
    <div id="tab2" class="tab_content">
        <p>This tab has icon in it.</p>
    </div>
    <div id="tab3" class="tab_content">
        <p>Suspendisse blandit velit eget erat suscipit in malesuada odio venenatis.</p>
    </div>
</div>
<!-- END TABS HTML -->

<!-- DROP DOWN MEGA MENU, KEYBOARD ACCESSIBLE -->
<nav class="site-navigation cbp-hrmenu" id="nav" role="navigation">
    <ul>
        <li>
            <a href="#">Products</a>
            <div class="cbp-hrsub">
                <div class="cbp-hrsub-inner"> 
                    <div>
                        <h4>Learning &amp; Games</h4>
                        <ul>
                            <li><a href="#">Catch the Bullet</a></li>
                            <li><a href="#">Snoopydoo</a></li>
                            <li><a href="#">Fallen Angel</a></li>
                            <li><a href="#">Sui Maker</a></li>
                            <li><a href="#">Wave Master</a></li>
                            <li><a href="#">Golf Pro</a></li>
                        </ul>
                    </div>
                    <div>
                        <h4>Utilities</h4>
                        <ul>
                            <li><a href="#">Gadget Finder</a></li>
                            <li><a href="#">Green Tree Express</a></li>
                            <li><a href="#">Green Tree Pro</a></li>
                            <li><a href="#">Wobbler 3.0</a></li>
                            <li><a href="#">Coolkid</a></li>
                        </ul>
                    </div>
                    <div>
                        <h4>Education</h4>
                        <ul>
                            <li><a href="#">Learn Thai</a></li>
                            <li><a href="#">Math Genius</a></li>
                            <li><a href="#">Chemokid</a></li>
                        </ul>
                        <h4>Professionals</h4>
                        <ul>
                            <li><a href="#">Success 1.0</a></li>
                            <li><a href="#">Moneymaker</a></li>
                        </ul>
                    </div>
                </div><!-- /cbp-hrsub-inner -->
            </div><!-- /cbp-hrsub -->
        </li>
        <li>
            <a href="#">Downloads</a>
            <div class="cbp-hrsub">
                <div class="cbp-hrsub-inner">
                    <div>
                        <h4>Education &amp; Learning</h4>
                        <ul>
                            <li><a href="#">Learn Thai</a></li>
                            <li><a href="#">Math Genius</a></li>
                            <li><a href="#">Chemokid</a></li>
                        </ul>
                        <h4>Professionals</h4>
                        <ul>
                            <li><a href="#">Success 1.0</a></li>
                            <li><a href="#">Moneymaker</a></li>
                        </ul>
                    </div>
                    <div>
                        <h4>Entertainment</h4>
                        <ul>
                            <li><a href="#">Gadget Finder</a></li>
                            <li><a href="#">Green Tree Express</a></li>
                            <li><a href="#">Green Tree Pro</a></li>
                            <li><a href="#">Holy Cannoli</a></li>
                            <li><a href="#">Wobbler 3.0</a></li>
                            <li><a href="#">Coolkid</a></li>
                        </ul>
                    </div>
                    <div>
                        <h4>Games</h4>
                        <ul>
                            <li><a href="#">Catch the Bullet</a></li>
                            <li><a href="#">Snoopydoo</a></li>
                            <li><a href="#">Fallen Angel</a></li>
                            <li><a href="#">Sui Maker</a></li>
                            <li><a href="#">Wave Master</a></li>
                            <li><a href="#">Golf Pro</a></li>
                        </ul>
                    </div>
                </div><!-- /cbp-hrsub-inner -->
            </div><!-- /cbp-hrsub -->
        </li>
        <li>
            <a href="#">Applications</a>
            <div class="cbp-hrsub">
                <div class="cbp-hrsub-inner"> 
                    <div>
                        <h4>Learning &amp; Games</h4>
                        <ul>
                            <li><a href="#">Catch the Bullet</a></li>
                            <li><a href="#">Snoopydoo</a></li>
                        </ul>
                        <h4>Utilities</h4>
                        <ul>
                            <li><a href="#">Gadget Finder</a></li>
                            <li><a href="#">Green Tree Express</a></li>
                            <li><a href="#">Green Tree Pro</a></li>
                            <li><a href="#">Wobbler 3.0</a></li>
                            <li><a href="#">Coolkid</a></li>
                        </ul>
                    </div>
                    <div>
                        <h4>Education</h4>
                        <ul>
                            <li><a href="#">Learn Thai</a></li>
                            <li><a href="#">Math Genius</a></li>
                            <li><a href="#">Chemokid</a></li>
                        </ul>
                        <h4>Professionals</h4>
                        <ul>
                            <li><a href="#">Success 1.0</a></li>
                            <li><a href="#">Moneymaker</a></li>
                        </ul>
                    </div>
                </div><!-- /cbp-hrsub-inner -->
            </div><!-- /cbp-hrsub -->
        </li>
        <li>
            <a href="#">Projects</a>
            <div class="cbp-hrsub">
                <div class="cbp-hrsub-inner"> 
                    <div>
                        <h4>Learning &amp; Games</h4>
                        <ul>
                            <li><a href="#">Catch the Bullet</a></li>
                            <li><a href="#">Snoopydoo</a></li>
                            <li><a href="#">Fallen Angel</a></li>
                            <li><a href="#">Sui Maker</a></li>
                            <li><a href="#">Wave Master</a></li>
                            <li><a href="#">Golf Pro</a></li>
                        </ul>
                        <h4>Utilities</h4>
                        <ul>
                            <li><a href="#">Gadget Finder</a></li>
                            <li><a href="#">Green Tree Express</a></li>
                        </ul>
                    </div>
                    <div>
                        <h4>Entertainment</h4>
                        <ul>
                            <li><a href="#">Gadget Finder</a></li>
                            <li><a href="#">Green Tree Express</a></li>
                            <li><a href="#">Green Tree Pro</a></li>
                            <li><a href="#">Holy Cannoli</a></li>
                            <li><a href="#">Wobbler 3.0</a></li>
                            <li><a href="#">Coolkid</a></li>
                        </ul>
                    </div>
                </div><!-- /cbp-hrsub-inner -->
            </div><!-- /cbp-hrsub -->
        </li>
        <li>
            <a href="#">Freeware</a>
            <div class="cbp-hrsub">
                <div class="cbp-hrsub-inner"> 
                    <div>
                        <h4>Utilities</h4>
                        <ul>
                            <li><a href="#">Green Tree Pro</a></li>
                            <li><a href="#">Wobbler 3.0</a></li>
                            <li><a href="#">Coolkid</a></li>
                        </ul>
                        <h4>Education</h4>
                        <ul>
                            <li><a href="#">Learn Thai</a></li>
                            <li><a href="#">Math Genius</a></li>
                            <li><a href="#">Chemokid</a></li>
                        </ul>
                    </div>
                    <div>
                        <h4>Professionals</h4>
                        <ul>
                            <li><a href="#">Success 1.0</a></li>
                            <li><a href="#">Moneymaker</a></li>
                        </ul>
                    </div>
                    <div>
                        <h4>Learning &amp; Games</h4>
                        <ul>
                            <li><a href="#">Catch the Bullet</a></li>
                            <li><a href="#">Snoopydoo</a></li>
                            <li><a href="#">Fallen Angel</a></li>
                            <li><a href="#">Sui Maker</a></li>
                            <li><a href="#">Wave Master</a></li>
                            <li><a href="#">Golf Pro</a></li>
                        </ul>
                    </div>
                </div><!-- /cbp-hrsub-inner -->
            </div><!-- /cbp-hrsub -->
        </li>
    </ul>
</nav>
<!-- END DROP DOWN MEGA MENU -->

<!-- ACCORDION HTML -->
<ul class="accordion ">
    <li><a class="h2" href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua  <span class="acc_arrow"></span></a>
        <ul class="sub_item">
            <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</a>
            </li>
        </ul>
    </li>
    <li><a class="h2" href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua  <span class="acc_arrow"></span></a>
        <ul class="sub_item">
            <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</a>
            </li>
        </ul>
    </li>
    <li><a class="h2" href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua  <span class="acc_arrow"></span></a>
        <ul class="sub_item">
            <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</a>
            </li>
        </ul>
    </li>
    <li><a class="h2" href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua  <span class="acc_arrow"></span></a>
        <ul class="sub_item">
            <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</a>
            </li>
        </ul>
    </li>
</ul>

<!-- END ACCORDION HTML -->

<!-- CENTERED VARIABLE LIST CSS -->
<div class="centered-wrap">
    <div class="centered-outer">
        <ul>
            <li></li>
        </ul>
    </div>
</div>
<!-- END CENTERED VARIABLE LIST CSS -->


<!-- responsive images -->
<img class="responsive" data-full="shared/images/placeholders/news-1.jpg" src="shared/images/placeholders/news-1-sml.jpg" alt="">
<div class="slide-img responsive" data-bg="true" data-full="shared/images/placeholders/slider-1.jpg" style="background-image: url(shared/images/placeholders/slider-1-sml.jpg);"></div>
