    <header class="site-header" role="banner">
    	<div class="row">
        	<div class="medium-4 columns">
        		<h1 class="visually-hidden"><a href="/">Logo</a></h1>
                <a href="/"><img src="<%= lorem.image('170x64', :text => 'LOGO') %>" alt=""></a>
                <a class="mobile-navigation-handle"><i class="icon-font">o</i></a>
        	</div>
        	<div class="medium-8 columns">
        		<%= partial "partials/nav" %>
        	</div>
    	</div>
    </header>
