<div class="widget widget-links">
	<div class="panel">
		<h5 class="widget-title"><%= lorem.words(3) %></h5>
		<ul>
			<% 5.times do |num| %>
			<li><a href="#"><%= lorem.words(2) %></a></li>
			<% end %>
		</ul>
	</div>
</div>